.about{
    padding: 100px 0px;
    text-align: center;
    background-color: #f8f8f8;
}
.about-greenline{
    background-color: #62aa94;
    height: 5px;
    width: 40px;
    margin: 50px auto;
}
.about-text{
    margin: 0px 200px;
}
.about-signature{
    padding: 30px 0px;
}

